ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

li {
  list-style: none;
}

a {
  color: gray;
  text-decoration: none;
}

h1 {
  line-height: 0px;
}

h2{
}

h3 {
}

section {
}

footer {
  background-color: white;
}
