.template {
  display: none;
}

/* ----------IMAGES / BOXES---------- */

.text-box {
  margin: 5vh 10vw 5vh 10vw;
}

.text-box.posts{
  background-color: #EBEBEC;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-box {
  background-color: gray;
  margin: 5vh 10vw 5vh 10vw;
  width: 80vw;
  height: 45vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image-box.contact {
  background: url(../images/contact-lightbulb.jpg) 100% 100% / cover no-repeat border-box border-box;
  margin: 0vh 10vw 0vh 10vw;
  width: 80vw;
  height: 15vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image-box.blog{
  margin-bottom: 0px;
  background: url(../images/blog-camera.jpg) 100% 100% / cover no-repeat border-box border-box ;
}

.image-box.work-image{
  margin-bottom: 0px;
  background: url(../images/work-desk.jpg) 100% 100% / cover no-repeat border-box border-box;
}

.image-box.about-image {
  margin-bottom: 0px;
  background: url(../images/about-citylight.jpg) 100% 100% / cover no-repeat border-box border-box;
}

.contact-section .text-box {
  margin: 0vh 10vw 0vh 10vw;
}

.image-box h2 {
  color: white;
  width: 250px;
  text-align: center;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ---------SECTIONS AND DIVS----------*/

.title-background {
  background-color: #EF9B46;
  width: 100vw;
  height: 60px;
  margin-top: 0px;
}

.contact-section {
  padding-bottom: 40px;
}

.posts {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-info {
    line-height: 0px;
}

.imageOverlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* -------------media queries---------- */
@media screen and (min-width:690px){
  .contact-info-box {
      display: flex;
      flex-direction: row;;
      align-items: flex-start;;
      justify-content: space-around;
  }

  section.page-content {
    padding-bottom: 10vh;
    padding-top: 2vh;
  }

  .nav-title {
    float: right;
    width: 100%;
    margin-right: 5%;
  }

}
