.text-box {
    margin: 10vw;
}

.text-box.posts{
    background-color: #EBEBEC;
    padding: 15px;
}

.title-background {
    background-color: blue;
    width: 100vw;
    height: 60px;
    margin-top: 0px;
}

.image-box {
    background-color: gray;
    margin: 10vw;
    width: 80vw;
    height: 45vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.image-box.contact {
    background-color: gray;
    margin: 10vw;
    width: 80vw;
    height: 15vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

ul.social-nav {
  display: flex;
  justify-content: space-around;
}

li.social-item {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.image-box h2 {
  color: white;
  width: 250px;
  text-align: center;
}

.contact-section {
  padding-bottom: 40px;
}

h3.page-title {
  color: white;
  float: right;
  margin-right: 5%;
}

.template {
  display: none;
}
