.template {
  display: none;
}

/* ----------IMAGES / BOXES---------- */

.text-box {
  margin: 5vh 10vw 5vh 10vw;
}

.text-box.posts{
  background-color: #EBEBEC;
  padding: 15px;
  margin-top: 0px;
}

.image-box {
  background-color: gray;
  margin: 5vh 10vw 5vh 10vw;
  width: 80vw;
  height: 45vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image-box.contact {
  background-color: gray;
  margin: 0vh 10vw 0vh 10vw;
  width: 80vw;
  height: 15vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.contact-section .text-box {
  margin: 0vh 10vw 0vh 10vw;
}

.image-box h2 {
  color: white;
  width: 250px;
  text-align: center;
}

.image-box.blog{
    margin-bottom: 0px;
}

/* ---------SECTIONS AND DIVS----------*/

.title-background {
  background-color: blue;
  width: 100vw;
  height: 60px;
  margin-top: 0px;
}

.contact-section {
  padding-bottom: 40px;
}

.posts {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact-info {
    line-height: 0px;
}
